<html>
<head>
<title>asuran {{.Version}}</title>
<style>
body{
  font-size:2em;
}
.entry{
  width:9em;
  text-align:center;
  float:left;
  margin:10px;
  border-style: outset;
  border-width: 10px;
  padding:1em;
}
br{
  clear:both;
}
</style>
</head>
<body>
<b><a href="https://github.com/benbearchen/asuran">asuran</a></b> {{.Version}} 是一个通过 DNS 实现透明代理的服务。

<hr/>
<div style="width:100%;"><div style="width:40%;display:inline-block;">DNS 服务器地址：</div><div style="display:inline-block;">{{.ServeIP}}</div></div>
<div style="width:100%;"><div style="width:40%;display:inline-block;">HTTP 代理服务器地址：</div><div style="display:inline-block;">{{.ProxyHost}}</div></div>
<div style="width:100%;"><div style="width:40%;display:inline-block;">管理入口：</div><div style="display:inline-block;">http://{{.MainHost}}</div></div>

<hr/>

{{if .Client}}<div class="entry"><a href="/profile/{{.Client}}" target="_blank">配置当前设备</a>{{if .AccessCode}}<br/>（访问码：{{.AccessCode}}）{{end}}</div>{{end}}
<div class="entry"><a href="/profile" target="_blank">您管理的设备</a></div>
<div class="entry"><a href="/devices" target="_blank">所有设备</a></div>
<br/><hr/>
{{if .UsingDNS}}
<div class="entry"><a href="/dns" target="_blank">DNS 服务</a></div>
<br/><hr/>
{{end}}
<div class="entry"><a href="/usage" target="_blank">初始使用说明</a></div>
<div class="entry"><a href="/features" target="_blank">特性介绍</a></div>
<div class="entry"><a href="/profile/commands" target="_blank">命令定义</a></div>
<div class="entry"><a href="/packs" target="_blank">已有命令包</a></div>
<br/><hr/>
<div class="entry"><a href="/about" target="_blank">黑技巧</a></div>

</body>
</html>
