<html>
<head>
<title>{{.IP}}'s profile</title>
<style type="text/css">
/* copy from http://www.w3school.com.cn/tiy/t.asp?f=csse_table_fancy */
#profile
  {
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse:collapse;
  }

#profile td, #profile th 
  {
  font-size:1em;
  border:1px solid #98bf21;
  padding:3px 7px 2px 7px;
  min-width:100px;
  }

#profile th 
  {
  font-size:1.1em;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#A7C942;
  color:#ffffff;
  }

#profile tr.alt td 
  {
  color:#000000;
  background-color:#EAF2D3;
  }
</style>

<script type="text/javascript">

function appendCmd(cmd) {
  var cmdBox = document.getElementById('CommandBoxId');
  if (cmdBox.value == "" || cmdBox.value.slice(-1) == "\n") {
    cmdBox.value = cmdBox.value + cmd + "\n";
  } else {
    cmdBox.value = cmdBox.value + "\n" + cmd + "\n";
  }
}

function selectOpt(id) {
  var s = document.getElementById(id);
  return s.value;
}

function readInput(id, argName) {
  var i = document.getElementById(id);
  if (i.value == "") {
    alert(argName + '不能为空');
    return;
  }

  if (i.value.indexOf(" ") >= 0) {
    alert(argName + '不能有空格');
    return;
  }

  return i.value;
}

function readOptionInput(optid, id, argName) {
  var opt = document.getElementById(optid);
  if (opt.value != "") {
    return opt.value;
  }

  return readInput(id, argName);
}

function proxyCmd(act, opt) {
  if (opt === undefined) {
    return;
  }

  var u = document.getElementById('ProxyUrl');
  if (u.value == "") {
    alert('proxy 操作的 URL 不能为空');
    return;
  }

  if (opt != "") {
    act = act + " " + opt;
  }

  appendCmd('url ' + act + ' ' + u.value);
}

function delayCmd(act) {
  var d = document.getElementById('DelayDuration');
  if (d.value == "") {
    alert('delay 操作的时长不能为空');
    return;
  }

  var u = document.getElementById('ProxyUrl');
  if (u.value == "") {
    alert('proxy 操作的 URL 不能为空');
    return;
  }

  r = selectOpt('RandOption');
  if (r != "") {
    act = act + " " + r;
  }

  appendCmd('url ' + act + ' ' + d.value + ' ' + u.value);
}

function deleteCmd() {
  var u = document.getElementById('ProxyUrl');
  if (u.value == "") {
    alert('delete 操作的 URL 不能为空');
    return;
  }

  appendCmd('url delete ' + u.value);
}

function redirectOpt() {
  var ip = document.getElementById('DomainRedirectIP');
  if (ip.value == "") {
    return "";
  }

  var re=/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])(\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])){3}$/;
  if (!re.test(ip.value))
  {
    alert("无效 IP（应为四段数字“xxx.xx.xxx.xx”且数字介于 0~255 之间）");
    return;
  }

  return " " + ip.value;
}

function domainCmd(act, opt) {
  if (opt === undefined) {
    return;
  }

  var d = document.getElementById('Domain');
  if (d.value == "") {
    alert('doman 操作的域名不能为空');
    return;
  }

  appendCmd('domain ' + act + ' ' + d.value + opt);
}

</script>
</head>

<body>
<p>配置名字：{{.Name}}</p>
<p>当前作用 IP：{{.IP}}</p>
<p>拥有者 IP：{{.Owner}}</p>
<p>操作员 IP：{{.Operators}}</p>
<hr/>
<a href="/profile/{{.IP}}/restart" target="_blank" title="清除超时、缓存等">重启客户端状态</a>
<hr/>
<a href="/profile/{{.IP}}/history" target="_blank" title="查看域名查询、HTTP 访问等日志">查看日志</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/profile/{{.IP}}/stores" target="_blank" title="">查看当前保存的内容列表</a>
<hr/>
<table id="profile">
<tr>
<th>编辑命令</th>
<th>URL 匹配模式</th>
<th>代理行为</th>
<th>延时设定</th>
<th>其它设置</th>
</tr>
{{range .Urls}}
<tr{{if .Even}} class="alt"{{end}}>
<td><input type="button" value="修改" onclick="appendCmd('{{.Edit}}');"/>&nbsp;<input type="button" value="删除" onclick="appendCmd('{{.Delete}}');"/></td>
<td style="min-width:500px;">{{.Pattern}}</td>
<td>{{.Action}}</td>
<td>{{.Delay}}</td>
<td>{{.Settings}}</td>
</tr>
{{end}}
</table>
<hr/>

<table id="profile">
<tr>
<th>编辑命令</th>
<th>域名</th>
<th>查询行为</th>
<th>目标 IP</th>
</tr>
{{range .Domains}}
<tr{{if .Even}} class="alt"{{end}}>
<td><input type="button" value="修改" onclick="appendCmd('{{.Edit}}');"/>&nbsp;<input type="button" value="删除" onclick="appendCmd('{{.Delete}}');"/></td>
<td style="min-width:500px;">{{.Domain}}</td>
<td>{{.Action}}</td>
<td>{{.IP}}</td>
</tr>
{{end}}
</table>
<hr/>

<form action="/profile/{{.Path}}" method="post">
<table width="500"><tr>
<td><b>命令：</b></td><td><input type="submit" value="执行命令"/></td><td>（<a href="/profile/{{.Path}}/export" target="_blank">导出上述配置的命令</a>）</td>
</tr>
</table>
<textarea rows="10" cols="80" id="CommandBoxId" name="cmd" {{if .NotOwner}}readonly="readonly" placeholder="# sorry，您的 IP 无权操作、修改 profile，请从 {{.Owner}}{{if .Operators}}, {{.Operators}}{{end}} 或设备上操作"{{end}}></textarea>
</form>


<hr/>

<b>命令导航：</b>（<a href="/profile/commands" target="_blank">命令规范</a>）
{{if .NotOwner}}{{else}}
<table border="1">
<tr>
<td rowspan="11">url</td>
<td rowspan="7">代理行为</td><td colspan="2"><button type="button" onclick="proxyCmd('', '');">[proxy]</button>: 使用代理</td><td rowspan="11">URL: <br/><input type="text" id="ProxyUrl" size="40" placeholder="domain.com/path/of/page?query=option"/><br/>URL 格式如下：<br/>[domain[:port]]/[path][?query=option]<br/>域名和路径支持通配符 *<br/>特殊地，all 可以操作所有已配置 URL</td>
</tr>
<tr>
<td colspan="2"><button type="button" onclick="proxyCmd('cache', '');">cache</button>: 代理并缓存</td>
</tr>
<tr>
<td colspan="2"><button type="button" onclick="proxyCmd('status', selectOpt('StatusOption'));">status</button> <select id="StatusOption"><option value="404">404</option><option value="502">502</option></select>: 仅以状态码返回</td>
</tr>
<tr>
<td><button type="button" onclick="proxyCmd('map', readInput('MapUrl', 'map 的第三方 URL '));">map</button>: 获取第三方链接的内容返回</td><td rowspan="2"><input type="text" id="MapUrl" size="30" placeholder="第三方 URL"/></td>
</tr>
<tr>
<td><button type="button" onclick="proxyCmd('redirect', readInput('MapUrl', 'redirect 的第三方 URL '));">redirect</button>: 302 跳转至第三方链接</td>
</tr>
<tr>
<td><button type="button" onclick="proxyCmd('rewrite', readInput('RewriteContent', 'rewrite 的 url-encoded 文本'));">rewrite</button>: 返回指定内容</td><td><input type="text" id="RewriteContent" size="35" placeholder="url-encoded 文本"/> <a href="/urlencoded" target="_blank">生成</a></td>
</tr>
<tr>
<td><button type="button" onclick="proxyCmd('restore', readOptionInput('StoresOption', 'StoreID', 'restore 的内容 store-id '));">restore</button>: 以预定义内容 ID 返回内容</td><td><select id="StoresOption"><option value="">输入: </option><optgroup label="或选择已有：">{{range .Stores}}<option value="{{.}}">{{.}}</option>{{end}}</optgroup></select><input type="text" id="StoreID" placeholder="store-id"/></td>
</tr>
<tr>
<td rowspan="3">延时操作</td><td><button type="button" onclick="delayCmd('delay');">delay</button>: 每次请求延时</td><td rowspan="3">随机：<select id="RandOption"><option value="">否</option><option value="rand">是</option></select><br/>时长: <input type="text" id="DelayDuration" size="6"/><br/>如: 100ms, 5s, 1m</td>
</tr>
<tr>
<td><button type="button" onclick="delayCmd('drop');">drop</button>: 前“时长”时间内都掉线</td>
</tr>
<tr>
<td><button type="button" onclick="delayCmd('timeout');">timeout</button>: 等待“时长”后掉线</td>
</tr>
<tr>
<td colspan="3"><button type="button" onclick="deleteCmd();">delete</button>: 删除 URL 配置</td>
</tr>
</table>

<p>注: 任何对 URL 的代理行为，均要求域名重定向到代理服务器。如域名还没有配置，则会自动添加</p>

<table border="1">
<tr>
<td rowspan="4">domain</td><td><button type="button" onclick="domainCmd('default', redirectOpt());">[default]</button>: 默认返回正常 IP</td><td rowspan="3">自定义 IP:<br/><input type="text" id="DomainRedirectIP"/></td><td rowspan="4">域名: <input type="text" id="Domain"/><br/>支持通配符 *，如 *.domain.com <br/>特殊地，all 可以操作所有已配置域名</td>
</tr>
<tr>
<td><button type="button" onclick="domainCmd('block', redirectOpt());">block</button>: 拦截并不返回</td>
</tr>
<tr>
<td><button type="button" onclick="domainCmd('proxy', redirectOpt());">proxy</button>: 代理</td>
</tr>
<tr>
<td colspan="2"><button type="button" onclick="domainCmd('delete', '');">delete</button>: 删除域名配置</td>
</tr>
</table>

{{end}} <!-- end of owner's command guide -->
</body>
</html>
