<html>
<head>
<title>使用指南</title>
</head>
<body>
<ol>
<li>使用测试专用 WiFi 或者设置 DNS 域名服务器为服务器 IP{{.IpInfo}}
<li>从手机或其他设备访问 http://i.me/ 初始化访问
<li>配置需要的域名等，或者从上一步的第三方管理地址访问
<li>启动应用程序，操作
<li>查看结果

</ol>
</body>
</html>
