<html>
<head>
<title>使用指南</title>
</head>
<body>
<ol>
<li>准备
  <ul><li>一款可联网的待测试设备，手机、平板或者台式机、笔记本均可
      <li>[可选]一台 PC 用来管理这台测试设备的代理设置（以下 PC 均指此管理设备）</ul>
<li><b>设置测试设备</b><sub>（下面二选一即可）</sub>
  <ul><li>连接 asuran 测试专用 WiFi（如果有的话）
      <li>或，设置 DNS 域名服务器为服务器 IP（{{.IP}}）</ul>
  检查测试设备是否可以上网。如果网络与 asuran 没有问题，上网应该没有问题的
<li><b>初始化代理</b><sub>（下面二选一即可）</sub>
  <ul><li>从测试设备访问 http://i.me/（地址栏输入域名 i.me 即可）。但是注意不要使用网络加速的浏览器（如 UC）。<br/>
          访问成功，会显示一条管理链接，可以在 PC 上访问，以管理测试设备的代理设置。如下图：<br/>
          <img src="http://{{.IP}}/res/i.me.png" border="1"/>
  <li>或，获取测试设备 IP 地址，从管理 PC 上访问 http://{{.IP}}/profile/&lt;设备IP&gt; 直接管理（配置）测试设备</ul>
<li>访问配置页面，大概见下图。<br/>
  对代理的设置以“<a href="http://{{.IP}}/profile/commands" target="_blank">命令</a>”方式执行。不便之处敬请见谅。<br/>命令分为对域名和对 URL 进行操作的两种。搭配使用就可以定义测试设备的代理行为了。<br/>下方导航的按钮都是可以点击的，格式正确的话，命令会在中间的命令框显示。<br/>然后点击中间的“执行命令”就可以执行了。命令的效果会在上面的表格显示。<br/>
  <img src="http://{{.IP}}/res/profile.png" border="1"/>
<li>启动应用程序，执行各种操作
<li>使用上面配置页面上方的“查看日志”，可以查看：
  <ul><li>应用查询的域名。知道域名然后可以对域名下网页设置使用代理
      <li>应用使用代理访问的 URL。更进一步，在配置页面 URL 后面追加“/look/”再加上去掉 http:// 头的 URL 网址（形如：http://192.168.11.100/profile/192.168.11.4/look/g.cn/search?key=help），就可以获取 URL 返回的内容。</ul>
</ol>
</body>
</html>
